.skils_img {
    width: 350px;
    height: 300px;
}

.header_skils_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 71px;
}


@media (max-width: 576px){
    .skils_img{
        width: 250px;
        height: 250px;
    }
}