.projectListGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 60px;
}


.project_item{
    margin-left: 8px;
    cursor: pointer;
    transition: .3s;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    margin: 8px 8px;
}

.project_item:hover{
     transform: scale(1.1);
}

.nameProject{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    color: #252525;
    text-align: center;
}

@media (max-width: 992px) {
    .projectListGrid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projectListGrid{
        grid-template-columns: repeat(1, 1fr);
    }
}