.main_block_head {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.header_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #171718;
}

.header_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #171718;
    margin-bottom: 8px;
}

.main_head_h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 31.25px;
    line-height: 35px;
}

.main_link_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

.main_link_block_item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}

.link_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 12px;
    padding: 24px;
    cursor: pointer;
    margin: 8px;
}

.link_block:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.link_download{
    padding: 12px 28px;
    background: #5C62EC;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 0px 8px;
}


@media(max-width: 992px){
    .header_title{
         font-size: 55px;
    }
}


@media(max-width: 768px){
    .header_title{
         font-size: 50px;
    }
}


@media(max-width: 576px){
    .header_title{
         font-size: 45px;
    }
}