.home_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0;
}



.main{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
}

.projects{
    display: flex;
    width: 100%;
    background-color: #000;
}

@media (max-width: 1320px)  {
    .main{
        max-width: 1280px;
    }
}

@media (max-width: 1280x)  {
    .main{
        max-width: 1125px;
    }
}