.logo-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-link-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: .3s;
    cursor: pointer;
}

.menu-link-text:hover{
    color: #392d69;
}

.navbar-toggler {
    border-color: #FFFFFF;
}

.navbar-nav .nav-link.active{
    color: #392d69;
}





