.footer {
    background-color: #000;
    padding: 80px 0px;
}

.footer_item{
    display: flex;
    width: 100%;
}



.footer_logo_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}


.footer_link_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: .3s;
    cursor: pointer;
    margin: 0px 32px;
}

.footer-link-text:hover{
    color: #392d69;
}

.footer_menu_block{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 48px;
}

@media (max-width: 576px){
    .footer_item{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .footer_menu_block{
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0px;
        flex-direction: column;
    }
    
    .footer_link_text{
       margin: 0px 8px 16px 0px;
    }
   
}