.contact_me_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0;
}

.main_contact_me{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 32px 16px;
    margin-top: 40px;
}


.contact_form{
    display: flex;
    width: 100%;
    padding: 16px;
}

.contact_form_sides{
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media(max-width: 992px){
    .contact_form{
        flex-direction: column;
    }

    .contact_form_sides{
        width: 100%;
    }
}