.projectDetail_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0;
}

.project_title_block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 58px;
}

.slideShow {
    margin: auto;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}


.slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    
}

.slides img {
    border-radius: 12px;
}


/*button{*/
/*    aspect-ratio: 1;*/
/*    cursor: pointer;*/
/*    padding: 16px;*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    border-radius: 32px;*/
/*    text-align: center;*/
/*    color: #FFFFFF;*/
/*    outline: none;*/
/*}*/

/*button:hover{*/
/*    background-color: #392d69;*/
/*}*/

.slider_btn {
    aspect-ratio: 1;
    cursor: pointer;
    padding: 16px;
    font-size: 18px;
    border: none;
    border-radius: 32px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

.btn_repo {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 12px 20px;
    color: #252525;
    transition: .3s;
}

.btn_repo:hover {
    color: #ffb648;
}

.git_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 48px;
}

@media (max-width: 992px) {
    .slideShow{
        height: 45vh;
    }

    .slider_btn{
        padding: 8px;
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    .slideShow{
        height: 40vh;
    }

    .git_btn{
        flex-direction: column;
    }
}


